{% extends 'base.html.twig' %}

{% block title %} PacMan !{% endblock %}

{% block body %}
    {% if app.user %}
        <h3><span class="font-weight-bold font-italic">{{ app.user.username }}</span>, bienvenue sur votre compte PacMan
            <img src="https://www.freeiconspng.com/uploads/pacman-red-png-4.png" alt="" width="50" height="50"></h3>

        {{ form_start(formUser) }}
            {% do formUser.username.setRendered() %}
            {% do formUser.password.setRendered() %}
            {{ form_row(formUser.age,      {'label': "Age du PacMan" , 'attr': {'placeholder': "Age du PacMan",'value': app.user.age } }) }}
            {{ form_row(formUser.family,   {'label': "Sa Famille" ,    'attr': {'placeholder': "Famille du PacMan",'value': app.user.family } }) }}
            {{ form_row(formUser.color,    {'label': "Sa Couleur" ,    'attr': {'placeholder': "Couleur du PacMan",'value': app.user.color } }) }}
            {{ form_row(formUser.food,     {'label': "Sa nourriture" , 'attr': {'placeholder': "Nourriture du PacMan",'value': app.user.food } }) }}

            <a href="{{ path('edit_pacman') }}" class="btn btn-success">Modifier les informations</a>
        {{ form_end(formUser) }}


    {% else %}
        <h3 class="text-center">Connectez-vous pour accéder à votre PacMan</h3>
    {% endif %}
{% endblock %}
